/*
* Main structure
*/
body {
    padding: 0px;
    font-size: 13px;
}
/*
* HEADER
*/
#header {
    display: block;
    height: 80px;
    margin: 0 auto;
    width: 980px;
    padding-top: 5px
}
#header #logo {
    padding-top: 15px;
}
#header #logo img {
    margin: 0 auto;
    display: block;
}
#header #login {
    text-align: right;
}
#header #login #login-btn {
    cursor: pointer;
}
#header #login #login-box {
    height: 0;
    overflow: hidden;
    position: absolute;
    right: 15px;
    top: 25px;
    width: 180px;
    z-index: 3;
    background: #dae8e8;
    transition: all 1s;-webkit-transition: all 1s;-moz-transition: all 1s;-o-transition: all 1s;
}
#header #login #login-box.active {
    height: 180px;
    transition: all 1s;-webkit-transition: all 1s;-moz-transition: all 1s;-o-transition: all 1s;
    background-color: rgba(0,167,157,0.8);
    color: #fff;
}
#header #login #login-box form {
    padding: 5px;
    color: #111;
}
#header #login #login-box input {
    margin: 5px 0;
}
#header #login #login-box span {
    display: block;
    font-size: 10px;
    text-align: center;
}
/*
* NAV / SLIDER
*/
.navbar {
    background: none repeat scroll 0 0 #01A79D;
    border-radius: 0;
    border: none;
    min-height: 50px;
    margin: 10px 0 0 0;
}
.navbar .container .navbar-nav {
    float: none;
    margin: 0 auto;
}
.navbar .container .navbar-nav li a {
    font-weight: bold;
    color: #eee;
    padding-bottom: 3px;
    text-transform: uppercase;
    transition: all 0.5s;-webkit-transition: all 0.5s;-moz-transition: all 0.5s;-o-transition: all 0.5s;
}
.navbar .container .navbar-nav li a:hover {
    color: #fff;
    transition: all 0.5s;-webkit-transition: all 0.5s;-moz-transition: all 0.5s;-o-transition: all 0.5s;
}
.navbar .container .navbar-nav li .nav-hover {
    border-bottom: 3px solid rgba(255,255,255,0);
    margin: 0 0 10px 50%;
    width: 0;
    transition: all 1s;-webkit-transition: all 1s;-moz-transition: all 1s;-o-transition: all 1s;
}
.navbar .container .navbar-nav li:hover .nav-hover {
    border-bottom: 3px solid #fff;
    margin: 0 0 10px 3%;
    width: 95%;
    transition: all 1s;-webkit-transition: all 1s;-moz-transition: all 1s;-o-transition: all 1s;
}
header.carousel {
    background: url('../img/slider_bg.jpg') repeat-x #000;
    height: 450px;
}
.carousel-inner {
    width: 1170px;
    margin: 0 auto;
}
.carousel-control.left, .carousel-control.right {
    background: url('../img/slider_bg.jpg') repeat-x #000;
    opacity: 1;
}
header.carousel .carousel-caption.left {
    right: 10%;
    left: 60%;
    top: 15%;
}
header.carousel .carousel-caption.right {
    right: 60%;
    left: 10%;
    top: 15%;
}
header.carousel .carousel-caption h2, header.carousel .carousel-caption div {
    background: rgba(0,157,167,0.5);
    padding: 15px 0;
}
/*
* CONTENT
*/
#content {
    background: repeat #47D9C9;
}
#content .container {
    box-shadow: 0 0 27px 4px rgba(0, 0, 0, 0.25);-webkit-box-shadow: 0 0 27px 4px rgba(0, 0, 0, 0.25);-moz-box-shadow: 0 0 27px 4px rgba(0, 0, 0, 0.25);-o-box-shadow: 0 0 27px 4px rgba(0, 0, 0, 0.25);
    background: #fff;
}
/* TIMER */
#content .container .timer {
    padding-top: 25px;
    text-align: center;
}
#content .container .timer h2 {
    margin: 0 0 35px 0;
    padding: 0;
    vertical-align: top;
    font-weight: 700;
}
#timer {
    vertical-align: middle;
}
#timer span {
    width: 60px;
    height: 60px;
    padding: 20px;
    margin: 0 10px;
    font-size: 45px;
    color: #fff;
    border-radius: 6px;-moz-border-radius: 6px;-webkit-border-radius: 6px;-o-border-radius: 6px;
}
#timer p {
    font-size: 9px;
    padding-top: 20px;
    text-align: center;
    width: 50px;
    display: block;
    margin: 0 auto;
}
#timer .hour {
    background: #01a79d;
}
#timer .min {
    background: #7fcab3;
}
#timer .sec {
    background: #77e2da;
}
.timer .participate {
    font-size: 25px;
    margin: 25px auto 10px;
    width: 200px;
}
.timer .participate a {
    color: #fff;
    text-decoration: none;
}
/* HIGHTLIGHT */
#content .container .highlight-products {
    box-shadow: 0 30px 25px -20px rgba(0, 167, 157, 0.5) inset;-webkit-box-shadow: 0 30px 25px -20px rgba(0, 167, 157, 0.5) inset;-moz-box-shadow: 0 30px 25px -20px rgba(0, 167, 157, 0.5) inset;-o-box-shadow: 0 30px 25px -20px rgba(0, 167, 157, 0.5) inset;
    padding-top: 0px;
    background: #deeaea;
}
#content .container .highlight-products h2 {
    padding: 15px 5px;
    font-size: 24px;
    margin: 0 auto;
    text-align: center;
    background: #111;
    color: #fff;
    font-weight: bold;
    width: 290px;
    box-shadow: 0 30px 25px -20px rgba(0, 167, 157, 0.5) inset;-webkit-box-shadow: 0 30px 25px -20px rgba(0, 167, 157, 0.5) inset;-moz-box-shadow: 0 30px 25px -20px rgba(0, 167, 157, 0.5) inset;-o-box-shadow: 0 30px 25px -20px rgba(0, 167, 157, 0.5) inset;
}
/*#content .container .highlight-products #owl-demo .item {
    margin: 3px;
}*/
#content .container .highlight-products #owl-demo .owl-pagination{
    display: none;
}
#content .container .highlight-products #owl-demo .item {
    display: block;
    padding: 30px 0px;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}
/* FAVORITE */
#content .container .highlight-products #owl-demo .item .favorite-icon {
    background: url('../img/favorite_icon.png') -31px 0 no-repeat;
    display: block;
    position: absolute;
    width: 30px;
    height: 41px;
    right: 25px;
    cursor: pointer;
}
#content .container .highlight-products #owl-demo .item .favorite-icon:hover, #content .container .highlight-products #owl-demo .item .favorite-icon.active {
    background: url('../img/favorite_icon.png') 0 0 no-repeat;
}
#content .container .highlight-products .owl-theme .owl-controls .owl-buttons div {
    padding: 15px 10px;
    position: relative;
    bottom: 200px;
    background: #fff;
    color: #01A79D;
    opacity: 1;
    border-radius: 0;
}
#content .container .highlight-products .owl-theme .owl-buttons i{
    margin-top: 2px;
}

/*To move navigation buttons outside use these settings:*/

#content .container .highlight-products .owl-theme .owl-controls .owl-buttons div {
    position: absolute;
}
#content .container .highlight-products .owl-theme .owl-controls .owl-buttons .owl-prev{
    right: 545px;
}

#content .container .highlight-products .owl-theme .owl-controls .owl-buttons .owl-next{
    left: 545px;
}
/*
* FOOTER
*/
footer {
    margin: 0 auto;
    width: 1140px;
    box-shadow: 0px -10px 20px -20px rgba(0, 0, 0, 0.5);-moz-box-shadow: 0px -10px 20px -20px rgba(0, 0, 0, 0.5);-webkit-box-shadow: 0px -10px 20px -20px rgba(0, 0, 0, 0.5);-o-box-shadow: 0px -10px 20px -20px rgba(0, 0, 0, 0.5);
}
.main-footer {
    height: 150px;
    width: 100%;
    background-color: grey;
}

.row {
    padding: 25px;
}


/*
* PROPS
*/
.inline {
    display: inline-block;
}
.hr {
    border-bottom: 1px solid #ccc;
    display: block;
    margin: 5px auto;
    width: 90%;
}
.connect .green{
    width: 87px;
}

.green {
    background: #00a79d;
    color: #fff;
    font-weight: bold;
}
.green:hover {
    background: #77e2da;
}
.col-md-6 {
    width: 100%;
}
.col-lg-12 {
    text-align: center;
}

#login-box a {
    text-decoration: none;
    color: #fff;
}

.gray {
    background: #a4b18f;
    color: #fff;
    font-weight: bold;
}
.gray:hover {
    background: #f4f54e;
}
div#list_de_trucs{
    margin:10px auto;
    background-color: red;
    width:100%;
    min-width:400px;
    max-width:700px;
}
div#list_de_trucs table{
    margin:0px;
    width:100%;
}
/*
* RESPONSIVE
*/
@media (max-width: 500px) {

    .responsive-table-line td:before { content: attr(data-title); }

    .responsive-table-line table,
    .responsive-table-line thead,
    .responsive-table-line tbody,
    .responsive-table-line th,
    .responsive-table-line td,
    .responsive-table-line tr {
        display: block;
    }

    .responsive-table-line thead tr {
        display:none;
    }

    .responsive-table-line td {
        position: relative;
        border: 0px solid transparent;
        padding-left: 50% !important;
        white-space: normal;
        text-align:right;
    }

    .responsive-table-line td:before {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 45%;
        padding-right: 15px;
        height:100%;
        white-space: nowrap;
        text-overflow: ellipsis !important;
        overflow:hidden !important;
        text-align:left;
        background-color:#f8f8f8;
        padding:2px;
    }

}
@media (max-width: 1124px) {
    #myCarousel {
        display: none;
    }
}
@media (min-width: 1124px) {
    #responsiveCarousel {
        display: none;
    }
}
@media (max-width: 768px) {

    #content .container .highlight-products .owl-theme .owl-controls .owl-buttons .owl-prev, #content .container .highlight-products .owl-theme .owl-controls .owl-buttons .owl-next{
        display: none;
    }
}
@media (min-width: 768px) {

    #content .container .highlight-products #owl-demo .owl-pagination {
        display: block;
    }
}